<h1><%= @sub.title %></h1>

<a href="<%= edit_sub_url(@sub) %>">Edit Sub</a>
 
<h3>All Posts</h3>
<% @sub.posts.each do |post| %>
  <a href="<%= sub_post_url(@sub.id, post.id) %>"><%= post.title %></a>
<% end %>

